<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->

  <title>TinyApp</title>
  <style>
body {
background-color: #87ceeb
}
</style>
</head>
<body style="font-size:20px; padding:50px;">

  <%- include("./partials/_header.ejs") %>
  <h3> The premiere URL shortening application </h3>

<form action="/urls/new">
    <input type="submit" value="shorten new URL" />
</form>
  <form action="/urls">
    <input type="submit" value="view our libary" />
</form>


       <!--  <p> <%= urls %> -->

<h6> coded by: Brayden Halliday </h6>


   <!-- a link for shortening url (is dead) -->
</body>
</html>